/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

:root {
  --dark: #22232F;
}

@font-face {
  font-family: 'Nebula';
  src: url('Nebula-Hollow.ttf');
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

i {
  margin: 5px;
}

/* -------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------- */

.ButtonBox {
  width: 750px;
  text-align: right;
}

.Button {
  font-size: 1.5rem;
  font-weight: lighter;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px;
  width: 145px;
  background: transparent;
  color: white;
}

.Button:hover {
  cursor: pointer;
}

.ButtonBox-signUpButton:hover {
  border-color: #82E9FF;
  color: #82E9FF;
  transition: ease-in 0.2s;
}

.ButtonBox-loginButton:hover {
  border-color: #FF63C3;
  color: #FF63C3;
  transition: ease-in 0.2s;
}

.LightSwitch {
  font-size: 5rem;
  height: 100px;
  width: 85px;
  position: absolute;
  right: 50px;
  top: 50px;
}

.LightSwitch:hover {
  cursor: pointer;
}


/* -------------------------------------------------- */
/* PAGE */
/* -------------------------------------------------- */

.Page {
  color: white;
  background-color: var(--dark);
  height: 100vh;
  width: 100vw;
  position: relative;
}

.Blackout {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  display: none;
  opacity: 0.9;
}

.Light {
  background-color: white;
  color: var(--dark);
}

.Hide {
  display: none;
}

/* .Page > * {
  border: 2px solid yellow;
} */

/* -------------------------------------------------- */
/* PROFILE */
/* -------------------------------------------------- */

.Profile {
  height: 80vh;
  width: 100%;
  display: grid;
  margin-top: 50px;;
  grid-template-areas: "sidebar category snippet editor";
  grid-template-columns: 0.1fr 0.5fr 0.5fr 1.75fr;
}

.Profile > * {
  border: 2px solid yellow;
}

.Sidebar {
  grid-area: sidebar;
}

.Sidebar-book {
  margin: 5px;
}

/* -------------------------------------------------- */
/* COLUMNS */
/* -------------------------------------------------- */

.ColumnList li {
  background-color: white;
  color: black;
  border-radius: 5px;
  margin: 5px;
  text-align: right;
  max-width: 15vw;
  overflow: hidden;
}

.Delete {
  margin-left: 10px;
  color: red;
}

/* -------------------------------------------------- */
/* Snippet Category */
/* -------------------------------------------------- */

.CategoryColumn {
  grid-area: category;
  overflow: auto;
  resize: horizontal;
  min-width: 20vw;
  max-width: 25vw;
}

.CategoryColumn-categoryInput {
  display: inline;
}

.CategoryColumn p {
  display: inline;
}

.SnippetColumn {
  grid-area: snippet;
  overflow: auto;
  resize: horizontal;
  min-width: 20vw;
  max-width: 25vw;
}
.EditorColumn {
  grid-area: editor;


}

.EditorColumn-Editor {
  height: 100%;
  width: 100%;
}




















/* -------------------------------------------------- */
/* TITLE */
/* -------------------------------------------------- */

.Header {
  height: 170px;
  width: 800px;
  border-bottom: 5px solid white;
  padding-left: 20px;
  padding-top: 20px;
}

.Header-Text {
  font-family: 'Nebula';
  font-size: 5rem;
  line-height: 4rem;
  letter-spacing: 15px;
}

.Header-Text:first-child:first-letter {
  float: left;
  font-size: 15rem;
  line-height: 6.2rem;
  letter-spacing: -15px;
}

.Code {
  letter-spacing: -1.2rem;
}

.Code-Bracket {
  color: #48FF6C;
}

.Code-First {
  color: red;

}

.Code-Second {
  color: #82E9FF;

}

.Code-Third {
  color: #FF63C3;
}

.Code-Fourth {
  color: #F1FF7E;
}

/* -------------------------------------------------- */
/* LANDING */
/* -------------------------------------------------- */

.Info {
  font-size: 2rem;
  height: 300px;
  width: 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-bottom: 50px;
}

.Info-item {
  margin: 20px;
  list-style: none;
  letter-spacing: 2px;
}

/* -------------------------------------------------- */
/* FORM */
/* -------------------------------------------------- */

.FormModal {
  border: solid 1px white;
  border-radius: 5px;
  margin: 10px;
  display: none;
}

.FormModal-close:hover {
  cursor: pointer;
}

.Visible {
  position: absolute;

  display: block;
  z-index: 1010;
}

/* .FormModal i {
} */

.Form-row {
  margin: 40px;
}

.Form-row:last-child {
  text-align: right;
}

.Form-input {
  font-size: 1.5rem;
}

.Form-submitButton:hover {
  cursor: pointer;
  border-color: #F1FF7E;
  color: #F1FF7E;
  transition: ease-in 0.2s;
}

/* -------------------------------------------------- */
/* ROWS */
/* -------------------------------------------------- */

.Row-Top {
  overflow: auto;
  resize: vertical;
  min-height: 33vh;
  max-height: 75vh;
}

.Row-Bottom {
  min-height: 33vh;
  max-height: 75vh;
}
